* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* base styles */
.video-container {
    width: 640px;
    position: relative;
    margin: 10px;
}
#video {
    width: 100%;
}
.bottom-container {
    display: flex;
    margin: 0px 10px;
    width: 640px;
}
button {
    margin-right: 5px;
    height: 25px;
    padding: 0 5px;
}
#playPause-btn {
    cursor: pointer;
    background: #f5f5f5;
    border-radius: 100%;
    width: 25px;
}
.video-container__subtitle-tracks {
    border: 1px solid black;
}
.video-container__subtitle-tracks .subtitle-item {
    cursor: pointer;
    padding: 5px;
}
.video-container__subtitle-tracks .subtitle-item:hover {
    background: #f5f5f5;
}
.video-container__subtitles {
    border: 1px solid black;
    width: 300px;
}

/* advanced features styles */
.video-container__controls {
    position: absolute;
    bottom: 3px;
    width: 100%;
    padding: 3px;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, #000000 30%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 1) 100%);
}
.custom-subtitles {
    bottom: 50px;
    position: absolute;
    background: #00000033;
    left: 50%;
    color: white;
    border: none;
    transform: translateX(-50%);
    text-align: center;
}
progress {
    width: 100%;
    margin: 5px;
}
